.parent {
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* Styles pour chaque carte (card) */
.card {
  background: rgba(255, 255, 255, 0.4); /* Couleur de fond avec transparence */
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  box-shadow: 20px 20 px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px); /* Effet de flou pour le verre */
  margin: 10px;
  overflow: hidden;
}

/* Styles pour le contenu à l'intérieur de chaque carte */
.content {
  text-align: center;
}
