@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Pacifico&display=swap");

.main {
  margin: 0;
  /*background-color: #161623;*/
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0;
  text-align: center;
  /* border: 5px solid pink;*/
  top: 20px;
  left: 50px;
}

.text1 {
  color: white;
}
.photo {
  flex: 0 0 auto;
  margin-right: 20px;
}
.roundedImage {
  border-radius: 100px;
}
.text2 {
  color: white;
}
